@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section{
    height: 100vh;
    position: relative;
}

.imageContainer {
    background-image:url('/assets/images/portfolio.jpg'); 
    background-size: cover;
    background-position: center;
    
}
