@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section{
  background: url("./assets//images/portfolio-blaize.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
.introduce{
  font-family: 'Raleway', sans-serif;
}

.introduce1{
  font-family: 'Raleway', sans-serif;
}

.block-text{
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about-button{
  background-color:#fb923c ;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.about-button:hover {
  background-color: #ac5610;
}